.admin-dashboard-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.turnos-table {
  width: 100%;
  border-collapse: collapse;
}

.turnos-table th, .turnos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.turnos-table th {
  background-color: #f2f2f2;
}

.turno-item {
  background-color: #fff;
}

.turno-item:nth-child(even) {
  background-color: #f2f2f2;
}

.turno-item div {
  padding: 5px;
}

.turno-item strong {
  font-weight: bold;
}

h2, h3 {
  text-align: center;
}
.turno-item.completed {
  background-color: #f2f2f2; /* Cambia el color de fondo a un tono más oscuro */
  color: #666; /* Cambia el color del texto para que sea más oscuro */
}
